-
  const GOODS = [
    { title: 'Производство печатных плат'},
    { title: 'Монтаж печатных плат'},
    { title: 'Комплектующие для светотехники'}
  ]

section.main-goods
  h3.for-tablet Smart Device предлагает следующие товары и услуги
  h3.for-mobile Товары и услуги Smart Device
  ._list
    each good, index in GOODS
      -
        const currentIndex = index + 1
        const imgPath = 'img/service-' + currentIndex
      a._item(href='#')
        // 1х: 350px; 2x: 700px
        picture
          source(type='image/webp' media='(max-width: 767px)' srcset=`${imgPath}-mobile@1x.webp, ${imgPath}-mobile@2x.webp 2x`)
          source(type='image/jpg' media='(max-width: 767px)' srcset=`${imgPath}-mobile@1x.jpg, ${imgPath}-mobile@2x.jpg 2x`)
          source(type='image/webp' media='(max-width: 1023px)' srcset=`${imgPath}-tablet@1x.webp, ${imgPath}-tablet@2x.webp 2x`)
          source(type='image/jpg' media='(max-width: 1023px)' srcset=`${imgPath}-tablet@1x.jpg, ${imgPath}-tablet@2x.jpg 2x`)
          source(type='image/webp' srcset=`${imgPath}-desktop@1x.webp, ${imgPath}-desktop@2x.webp 2x`)
          img(src=`${imgPath}-desktop@1x.jpg` srcset=`${imgPath}-desktop@2x.jpg 2x` alt=`Фоновое изображение платы №${currentIndex}` width=350 height=650)
        h4=good.title
        ._void
          svg(width=5 height=10 aria-hidden='true' fill='#00B2FF')
            use(href='img/sprite_auto.svg#icon-vector')
